
<div class="col-6">

	<div class="card">
  <div class="card-header">
    <%= @cohort.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @cohort.name %></h5>
    <p class="card-text">Enter here your brief description for the cohort.</p>
    <span> From : <%= @cohort.start %>  To:  <%= @cohort.end %></span>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
	
</div>
<hr>


<div class="col-6">
<div class="card text-center">
  <div class="card-header" id="card-header">
    Announcements
  </div>
  <div class="card-body" id="card-body">
    <h5 class="card-title"><%= @cohort.name %> News</h5>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="carousel-item">
    <p class="d-block w-100" alt="First slide">
    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
    <div class="carousel-item" id="carousel-item">
   	<p class="d-block w-100" alt="Second slide"><em>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
    <div class="carousel-item" id="carousel-item">
      <p class="d-block w-100" alt="Third slide"><em>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
    <div class="carousel-item" id="carousel-item">
      <p class="d-block w-100" alt="Third slide"><em>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>
