
  <%= image_tag @user.avatar.url %>
    <p><%= @user.first_name%></p> 
   <p><%= @user.last_name %></p>
    <p><%= @user.email %></p>
    <p><%= @user.age %></p>
    <p><%= @user.degree %></p>
    <p><%= @user.role %></p>
