<h1> New Course</h1>

<%= form_for @course do |f| %>  
    <%= f.label :name %>  
    <%= f.text_field :name %>  
    <%= f.label :hours %>  
    <%= f.number_field :total_hrs %>
    <%= f.submit %>
<% end %>

